{%- macro left_nav_menu_link_element(title, href) -%}
  <li>
    <a class="w-full flex justify-start items-center pl-4 p-3 hover:bg-gray-100 font-light text-lg" href="{{href}}">
      <span>{{title}}</span>
    </a>
  </li>
{%- endmacro -%}
{%- macro left_nav_menu_label_element(title) -%}
  <li class="border-b-1">
    <label class="w-full flex justify-start items-center p-1 font-semibold text-md pl-4">
      <span>{{title}}</span>
    </label>
  </li>
{%- endmacro -%}

{%- macro left_nav_menu(header_height) -%}
  <div id="left-nav-menu" class="hidden fixed top-{{header_height}} left-0 w-[100vw] z-100 h-[calc(100vh-var(--spacing)*{{header_height}})] flex">
    <div class="w-100 h-full bg-white shadow">
      <div class="flex flex-col items-center mb-6">
        <div class="flex justify-center w-full items-center p-6">
          <img class="size-40" src="{{ url_for('static', path='images/logo.svg') }}">
        </div>
        <p class="font-[IBMPlexSans] text-3xl">NoScam100% GmbH</p>
      </div>
      <ul class="font-[IBMPlexSans]">
        {{left_nav_menu_label_element("Seiten")}}
        {{left_nav_menu_link_element("Kreditanträge", "/")}}
      </ul>
    </div>
    <div id="left-nav-menu-background" class="w-full h-full bg-gray-400/60">

    </div>
  </div>
{%- endmacro -%}
