{%- macro status_bar_box(credit_number, status_obj) -%}
<div id="credit-{{credit_number}}-status-box-|no-number|"
  class="w-8 h-2 bg-{{ statusToClass(status_obj.status) }} relative cursor-pointer">
  <div id="credit-{{credit_number}}-status-box-|no-number|-info"
    class="hidden absolute h-auto w-50 left-[-6rem] top-[1rem] bg-gray-900 rounded-xl p-2 text-center">
    <span class="font-[IBMPlexSans] text-white text-sm">{{ status_obj.text }}</span>
  </div>
</div>
<script>
(() => {
  if ("{{statusToClass(status_obj.status)}}" !== "gray-400") {
    const hash = randomHex();
    let statusBoxElement = document.getElementById("credit-{{credit_number}}-status-box-|no-number|");
    if (!statusBoxElement) return
    statusBoxElement.id = statusBoxElement.id.replace("|no-number|", hash)
    let statusBoxInfoElement = document.getElementById("credit-{{credit_number}}-status-box-|no-number|-info");
    if (!statusBoxInfoElement) return
    statusBoxInfoElement.id = statusBoxInfoElement.id.replace("|no-number|", hash)

    statusBoxElement.addEventListener("mouseenter", (e) => {
      statusBoxInfoElement.classList.remove("hidden")
    })
    statusBoxElement.addEventListener("mouseleave", () => {
      statusBoxInfoElement.classList.add("hidden")
    })
  }
})()
</script>
{%- endmacro -%}

{%- macro empty_status_bar_box() -%}
  <div class="w-8 h-2 bg-{{ statusToClass("none") }}"></div>
{%- endmacro -%}

{%- macro status_bar_text(status_obj) -%}
  <div class="text-{{ statusToClass(status_obj.status) }}">
    <p>{{ status_obj.text }}</p>
  </div>
{%- endmacro -%}

{%- macro global_status_bar(credit_number, stages) -%}
  <div class="flex gap-1 font-[IBMPlexSans]" role="region">
    {{ status_bar_box(credit_number, stages.online_form) }}
    {{ status_bar_box(credit_number, stages.documents) }}
    {{ status_bar_box(credit_number, stages.tests) }}
    {{ status_bar_box(credit_number, stages.security) }}
    {{ status_bar_box(credit_number, stages.final_decision) }}
  </div>
{%- endmacro -%}

{%- macro online_form_status_bar(credit_number, stages) -%}
  <div class="flex gap-1 font-[IBMPlexSans]" role="region">
    {{ status_bar_box(credit_number, stages.credit_format) }}
    {{ status_bar_box(credit_number, stages.personal_data) }}
  </div>
{%- endmacro -%}

{%- macro empty_status_bar() -%}
  <div class="flex gap-1 font-[IBMPlexSans]" role="region">
    {{ empty_status_bar_box() }}
    {{ empty_status_bar_box() }}
    {{ empty_status_bar_box() }}
    {{ empty_status_bar_box() }}
    {{ empty_status_bar_box() }}
  </div>
{%- endmacro -%}

{%- macro global_status_bar_with_text(credit_number, stages) -%}
  {{ global_status_bar(credit_number, stages)}}
  <div class="flex flex-col font-[IBMPlexSans] text-sm/4 mt-1">
    {{ status_bar_text(stages.online_form) }}
    {{ status_bar_text(stages.documents) }}
    {{ status_bar_text(stages.tests) }}
    {{ status_bar_text(stages.security) }}
    {{ status_bar_text(stages.final_decision) }}
  </div>
{%- endmacro -%}
