/* IBM Plex Sans family - local font files in ../fonts/ */

/* Helper note:
     Place these rules in app/static/css/global.css. Font files are expected
     in app/static/fonts/ and are referenced relative to this CSS file as ../fonts/<file>.
*/

/* -------- Regular family -------- */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* -------- Condensed family -------- */
@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans Condensed';
    src: url('../fonts/IBMPlexSans_Condensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* -------- Semi-Condensed family -------- */
@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans SemiCondensed';
    src: url('../fonts/IBMPlexSans_SemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Set a sensible default for the document */
body {
    font-family: 'IBMPlexSans';
}
