{% from 'components/inputs.j2' import text_input, radio_button, radio_button_with_info with context %}

<div class="text-lg">
  <div class="flex gap-5">
    {{ text_input("Vorname", "Max", "first_name") }}
  </div>
</div>
