{% extends "base.j2" %}

{% from 'components/status.j2' import online_form_status_bar, empty_status_bar with context %}
{% from 'components/inputs.j2' import button with context %}

{% block content %}
<script type="module">
  import ApiController from "{{ url_for('static', path='js/apiController.js') }}";

  const onlineFormElement = document.getElementById("online-form");
  const onlineFormCancelButtonElement = document.getElementById("online-form-cancel-button");
  const stageContentElement = document.getElementById("stage-content");
  console.log(stageContentElement)
  const apiController = ApiController.getInstance();
  let current_stage = "{{session.current_stage}}";

  const STAGES = [
    "credit_format",
    "personal_data",
    "family_status",
    "employment_income",
    "credit_details"
  ]

  async function renderOnlineFormStage(stage) {
    const html = await apiController.apiRenderOnlineFormStage(stage);
    stageContentElement.innerHTML = html;
    document.getElementById("credit-request-header").textContent = `Schritt ${STAGES.indexOf(stage) + 1}: `;

    registerStatusBarClickEvents();

    stageContentElement.querySelectorAll("script").forEach(oldScript => {
      const newScript = document.createElement('script');
      if (oldScript.type) newScript.type = oldScript.type;

      if (oldScript.src) {
        newScript.src = oldScript.src;
        document.head.appendChild(newScript);
      } else {
        newScript.textContent = oldScript.textContent;
        stageContentElement.appendChild(newScript);
      }

      oldScript.remove();
    });
  }

  function getNextStage(stage) {
    const newStageIndex = STAGES.indexOf(stage) + 1;
    if (newStageIndex > STAGES.length - 1) return "quit"
    return STAGES[newStageIndex]
  }

  function getPreviousStage(stage) {
    const newStageIndex = STAGES.indexOf(stage) - 1;
    if (newStageIndex < 0) return "quit"
    return STAGES[newStageIndex]
  }


  new Promise(async () => await renderOnlineFormStage(current_stage));

  async function onOnlineFormSubmit(event) {
    event.preventDefault();
    const nextStage = getNextStage(current_stage);
    await renderOnlineFormStage(nextStage)
    current_stage = nextStage;
  }

  async function onBackButtonPress(event) {
    const previousStage = getPreviousStage(current_stage);
    if (previousStage === "quit") {
      window.location = "/";
      return;
    }
    await renderOnlineFormStage(previousStage)
    current_stage = previousStage;
  }

  function registerStatusBarClickEvents() {
    STAGES.forEach((stage) => {
      document.getElementById(`credit-{{credit.number}}-status-box-${stage}`)
        .addEventListener("click", async () => {
          await renderOnlineFormStage(stage);
        })
    });
  }

  onlineFormElement.addEventListener("submit", onOnlineFormSubmit);
  onlineFormCancelButtonElement.addEventListener("click", onBackButtonPress);
</script>

<div class="flex w-full h-[90vh] justify-center font-[IBMPlexSans]">
  <div class="flex w-4/5 bg-gray-100 h-[95%] mt-5 flex-col">
    <form class="flex flex-col justify-between h-full" id="online-form">
      <div id="stage-content"></div>
      <div class="flex justify-between w-full">
        {{ button("Zurück", "cancel", "online-form-cancel-button") }}
        {{ button("Weiter", "submit") }}
      </div>
    </form>
  </div>
</div>
{% endblock content %}